/* Fonts
=====================*/

@font-face {
	font-family: 'Raleway-Thin';
	src: url('Raleway-Thin.eot?') format('eot'), 
	     url('Raleway-Thin.otf')  format('opentype'),
	     url('Raleway-Thin.woff') format('woff'), 
	     url('Raleway-Thin.ttf')  format('truetype'),
	     url('Raleway-Thin.svg#Raleway-Thin') format('svg');
}

@font-face {
	font-family: 'Code-Bold';
	src: url('Code-Bold.eot?') format('eot'), 
	     url('Code-Bold.otf')  format('opentype'),
	     url('Code-Bold.woff') format('woff'), 
	     url('Code-Bold.ttf')  format('truetype'),
	     url('Code-Bold.svg#Code-Bold') format('svg');
}

@font-face {
	font-family: 'fontello';
	src: url('fontello.eot?') format('eot'), 
	     url('fontello.woff') format('woff'), 
	     url('fontello.ttf')  format('truetype'),
	     url('fontello.svg#fontello') format('svg');
}

p{
	font-size: 19.5px;
}

/* Navbar
=====================*/

.navbar{
	font-family: 'Raleway-Thin';
	font-size: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: transparent;
}

/* Layout
=====================*/

.phrase{
	text-align: center;
	font-family: 'Raleway-Thin';
	color: white;
	position: relative;
	padding-top:250px;
}

.home{
	width: 100%;
}

.pagebanner{
	margin-left: 70px;
	margin-right: 70px;
}

.facts{
	font-family: 'Code-Bold';
	color: #34CFBE;
	padding-top: 30px;
}

.drake-content{
	text-align: center;
	font-family: 'Raleway-Thin';
	line-height: 30px;
	padding-top: 35px;
	padding-bottom: 35px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.skills{
	width: 100%;
	height: 720px;
	background: #333333;
	padding-top: 70px;
}

.pagebanner2{
	color: #34CFBE;
	font-family: 'Code-Bold';
}

.list{
	margin-top: 30px;
	padding-left: 40px;
}

.list ul li{
	color: #34CFBE;
	display: block;
	font-size: 30px;
	font-family: raleway;
	line-height: 70px;
	position: relative;
	max-width: 100%;
}

.progress{
	max-width: 85%;
}

.progress-bar-info{
	background-color: #34CFBE;
}


/* Jumbotron
=====================*/
.jumbotron{
	background: #34CFBE;
	height:723px;
}

/* Logos & Icons
=====================*/

.myself{
	background-image: url('../images/myself.gif');
	background-repeat: no-repeat;
	height: 300px;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.icon-ok-outline{
		color: #34CFBE;
}

=====================*/

