/* Fonts
=====================*/

@font-face {
	font-family: 'Raleway-Thin';
	src: url('Raleway-Thin.eot?') format('eot'), 
	     url('Raleway-Thin.otf')  format('opentype'),
	     url('Raleway-Thin.woff') format('woff'), 
	     url('Raleway-Thin.ttf')  format('truetype'),
	     url('Raleway-Thin.svg#Raleway-Thin') format('svg');
}

@font-face {
	font-family: 'Code-Bold';
	src: url('Code-Bold.eot?') format('eot'), 
	     url('Code-Bold.otf')  format('opentype'),
	     url('Code-Bold.woff') format('woff'), 
	     url('Code-Bold.ttf')  format('truetype'),
	     url('Code-Bold.svg#Code-Bold') format('svg');
}

@font-face {
	font-family: 'fontello';
	src: url('fontello.eot?') format('eot'), 
	     url('fontello.woff') format('woff'), 
	     url('fontello.ttf')  format('truetype'),
	     url('fontello.svg#fontello') format('svg');
}

p{
	font-size: 19.5px;
}

/* Navbar
=====================*/

.navbar{
	font-family: 'Raleway-Thin';
	font-size: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: transparent;
}

/* Layout
=====================*/

.phrase{
	text-align: center;
	font-family: 'Raleway-Thin';
	color: black;
	position: relative;
	padding-top: 250px;
}

.home_menu ul{
	list-style-type: none;
	font-size: 35px;
	font-family: 'Raleway-Thin';
	text-align: center;
	padding: 95px 0;
	word-spacing: 35px;
	color: rgba(0, 0, 0, 0.45);
}

.home_menu ul li{
	display: inline;
}

.home{
	width: 100%;
}

.pagebanner{
	margin-left: 70px;
	margin-right: 70px;
}

.facts{
	font-family: 'Code-Bold';
	color: rgba(0, 0, 0, 0.62);
	padding-top: 30px;
}

.drake-content{
	text-align: center;
	font-family: 'Raleway-Thin';
	line-height: 30px;
	padding-top: 35px;
	padding-bottom: 35px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.skills{
	width: 100%;
	height: 100%;
	background: rgba(230, 234, 238, 0.34);
	padding-top: 70px;
	padding-bottom: 80px;

}

.pagebanner2{
	color: rgba(0, 0, 0, 0.62);
	font-family: 'Code-Bold';
}

.list{
	margin-top: 30px;
	padding-left: 40px;
}

.list ul li{
	color: black;
	display: block;
	font-size: 30px;
	font-family: 'Raleway-Thin';
	line-height: 70px;
	position: relative;
	max-width: 100%;
}

.progress{
	max-width: 85%;
	background-color: #BFBFBF;
}

.progress-bar-info{
	background-color: rgba(0, 0, 0, 0.45);
}

.skills-content{
	font-size: 30px;
	font-family: 'Raleway-Thin';
	color: black;
	margin-top: 140px;
	line-height: 40px;
	text-align: center;
	padding-right: 75px;
}

.contact_banner{
	text-align: center;
	padding-top: 80px;
	font-family: 'Code-Bold';
}

.contact_banner2{
	text-align: center;
	font-family: 'Raleway-Thin';
	padding-bottom: 20px;
}

.contact_info ul{
	list-style-type: none;
	line-height: 30px;
	font-family: 'Raleway-Thin';
	font-size: 18px;
	padding-top: 20px;
	line-height: 80px;
}




/* Background Wallpaper
=====================*/

#background{ 
  background: url('../images/28H.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Jumbotron
=====================*/



/* Logos & Icons
=====================*/

.myself{
	background-image: url('../images/myself.gif');
	background-repeat: no-repeat;
	height: 300px;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.icon-ok-outline{
		color: rgba(0, 0, 0, 0.45);
}

=====================*/

