/* Fonts
=====================*/

@font-face{
	font-family: Raleway;
	src: url('fonts/Raleway-Thin.otf');
}

@font-face{
	font-family: 'CODE bold';
	src: url('fonts/code-bold.otf');
}

p{
	font-size: 19.5px;
}

/* Navbar
=====================*/

.navbar{
    font-family: 'raleway';
	font-size: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: transparent;
}

/* Layout
=====================*/

.phrase{
	text-align: center;
    font-family: 'raleway';
	color: white;
	position: relative;
	padding-top:250px;
}

.page1{
	width: 100%;
	height: 720px;
}

.pagebanner{
	margin-left: 70px;
	margin-right: 70px;
}

.facts{
	font-family: 'CODE bold';
	color: #34CFBE;
	padding-top: 30px;
}

.drake-content{
	text-align: center;
    font-family: 'raleway';
	line-height: 30px;
	padding-top: 35px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/* Jumbotron
=====================*/
.jumbotron{
	background: #34CFBE;
	height:720px;
}

.jumbotron h1{
	font-size: 80px;
}

/* Logos & Icons
=====================*/

.myself{
	background-image: url('../images/myself.gif');
	background-repeat: no-repeat;
	height: 300px;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

=====================*/

